[submodule "prbt_robot"]
	path = prbt_robot
	url = https://github.com/ipa-vsp/prbt_robot.git
[submodule "ros2_canopen"]
	path = ros2_canopen
	url = https://github.com/ipa-vsp/ros2_canopen.git
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
