<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0130762 -0.0636807 0.0292817" rpy="1.52494 -0.0110301 1.57125" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0130762 -0.0636807 0.0292817   0.485467 -0.491327 0.508746 0.513903 prbt_tool0 camera_link" />
</launch>
