<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0343488 -0.052888 0.119001" rpy="1.24036 -0.268852 1.67268" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0343488 -0.052888 0.119001   0.305037 -0.50055 0.546329 0.598269 prbt_tool0 camera_color_optical_frame" />
</launch>
