<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0910256 0.00685356 -0.17817" rpy="3.13068 0.179202 0.123332" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0910256 0.00685356 -0.17817   0.994111 -0.0608913 0.0896446 -9.05622e-05 prbt_tool0 camera_link" />
</launch>
